<p>carousel-test works!</p>
<div class="container-fluid" style="width: fit-content;">
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>This is First image</p>
        </div>
    </ng-template>

    <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>second slide label</h3>
                <p>This is second image</p>
            </div>
        </ng-template>

        <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>This is Third image</p>
                </div>
            </ng-template>


   
</ngb-carousel>
</div>
