<h3 class="text-color text-bkcolor">{{message}}</h3>
<h3 [class]="textColor">{{message}}</h3>
<h3 [ngClass]="['text-color','text-bkcolor']">{{message}}</h3>
<h3 [ngClass]="[textColor,textBkColor]">{{message}}</h3>
<h3 [ngClass]="greetingStyle">{{message}}</h3>
<h3 [ngStyle]="{'color':'red','background-color':'blue'}">{{message}}</h3>
<button (click)="sayGreet($event)">greet</button>
<h1 [ngStyle]="{'color':tColor,'background-color':tBkColor}">Happy Diwali</h1>

<button class="btn btn-link" (click)="toggleColor()">Toggle</button>
<h3 class="text-color text-bkcolor">{{message|uppercase}}</h3>
<h3 class="text-color text-bkcolor">{{message|lowercase}}</h3>
<h3 class="text-color text-bkcolor">{{message|titlecase}}</h3>
<h3 class="text-color text-bkcolor">{{message|reverseString}}</h3>



