<div class="container">
<table class="table">
    <thead class="thead-dark">
       <tr>
          <th>id</th>
          <th>name</th>
          <th>brand</th>
          <th>price</th>
       </tr>
   
   </thead>  
   <tbody>
       <tr class="table-primary" *ngFor="let p of products" (click)=onSelect(p)>
          <td  [title]="p.name+ ' detalis'">{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.brand}}</td>
          <td>{{p.price}}</td>

       </tr>
  </tbody>
</table>
</div>
    <div *ngIf="selectedProduct"> 
        <p>{{selectedProduct.name}} 
        {{selectedProduct.brand}} 
        {{selectedProduct.price}}</p> 
        <p><input [(ngModel)]="selectedProduct.price"></p>
    
    </div>
    <div *ngFor="let p of products">
        <h2><a [title]="p.name+ ' detalis'">{{p.name}}</a></h2>
        <h2>{{p.brand}}</h2>
        <button (click)="share()">share</button>
       <app-product-notify [parentData]="p" (notify)="notifyUser($event)"></app-product-notify>
    </div>
    <p>{{childData}}</p>
